<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index_form.css') }}" />


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script  language="javascript" type="text/javascript">
var input = document.querySelector('input');
var preview = document.querySelector('.preview');
var output = document.querySelector('.file_selected_div');
input.style.opacity = 0; input.addEventListener('change', updateImageDisplay, once = false); function updateImageDisplay() {
    while (preview.firstChild) {
        preview.removeChild(preview.firstChild);
        output.removeChild(output.firstChild);
    }
    var curFiles = input.files;
    if (curFiles.length === 0) {
        var para = document.createElement('p');
        para.textContent = 'No files currently selected for upload';
        preview.appendChild(para);
        var par_out = document.createElement('p');
        par_out.textContent = 'No files currently selected for upload';
        output.appendChild(par_out);
    } else {
        var list = document.createElement('ol');
        preview.appendChild(list);
        var list_out = document.createElement('ol');
        output.appendChild(list_out);
        i = 0;
        var listItem = document.createElement('li');
        var para = document.createElement('p');
        para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
       // var image = document.createElement('img');
       // image.src = "/images/icon_ок.png";
        //listItem.appendChild(image);
        //list.appendChild(listItem);
        listItem.appendChild(para);
            }
}
function myFunction() {
    document.getElementById("demo").style.display = "inline";
}
var fileTypes = [
    'image/jpeg',
    'image/jpeg',
    'image/pdf',
    'image/png'
]
function validFileType(file) {
    for (var i = 0; i < fileTypes.length; i++) {
        //if (file.type === fileTypes[i]) {
        //    return true;
        //}
        return true;
    }
    return false;
} function returnFileSize(number) {
    if (number < 1024) {
        return number + 'bytes';
    } else if (number > 1024 && number < 1048576) {
        return (number / 1024).toFixed(1) + 'KB';
    } else if (number > 1048576) {
        return (number / 1048576).toFixed(1) + 'MB';
    }
}
</script>

    <script>
			$('#form').on('submit', function(e){
				var number = $('#num').val();
				e.preventDefault();
				$.ajax({
					url: 'http://127.0.0.1:5000/square/',
					data: {'number': number},
					method: 'POST',
					success: function(data) {
						$('#num').val('');
						$('#square').html('Square of ' + number + ' is ' + data['square'])
					}
				});
			});
</script>
</head>

<body>
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <div>
            <label for="image_uploads">Choose menu to upload (PDF ONLY)</label>
            <input type="file" id="image_uploads" name="file" accept=".pdf">
        </div>
        <div class="preview">
            <p id="file_choose">Processing takes couple of minutes</p>
        </div>


        <div>
            <button onclick="myFunction()" type="submit" name="Submit">Submit</button>
        </div>


         <select onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
            <option value="{{url_for('static', filename='Algo_1.jpg')}}" selected>1</option>
            <option value="{{url_for('static', filename='Algo_2.jpg')}}" selected>2</option>

        </select>

        <br><br>

        <a href="/previous" target="_blank">
        <img id="imageToSwap" class="profile" src="{{url_for('static', filename='Algo_1.jpg')}}">
        </a>

    </form>







</body>